li { list-style-type: square }
#cena {color: red; font-weight: bold }
.wstep { font-style: italic}
img {border-color: blue; border-style: solid}
td:hover img {border-color: red; border-style: solid}
h1 + h2 {letter-spacing: 5px}
td[colspan="2"] {font-size: small}
p + p {color: gray}
body {background-image: url(book.jpg); background-repeat: repeat-y}
h1 { color: blue }
h1 { color: green }
